html {
  font-family: "Sofia Pro";
}
.container {
  width: 100%;
  margin: 0 auto;
  background-color: #f5f5f5;
  border: 3px solid black;
}
@media (max-width:800px)  and (min-width: 501px) {
  .container {
    border: 3px solid #61E786;
  }
}
@media (max-width:800px)  and (min-width: 501px) and (max-width: 500px)  and (min-width: 300px) {
  .container {
    border: 2px solid #C0C0C0;
  }
}
.top-of-page {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px)  and (min-width: 300px) {
  .top-of-page {
    display: block;
  }
}
.logo {
  text-align: center;
  display: flex;
}
@media (max-width: 500px)  and (min-width: 300px) {
  .logo {
    margin: auto;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 8px 8px;
  font-family: "Helvetica Neue";
  font-size: 24px;
  width: 60%;
}
@media (max-width: 500px)  and (min-width: 300px) {
  .nav {
    width: 100%;
    color: #EE8355;
    margin: auto;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .form-inline {
    margin: auto;
    justify-content: center;
  }
}
.navItem {
  color: #ee6055;
  font-family: "Sofia Pro", "Roboto";
}
@media (max-width:800px)  and (min-width: 501px) {
  .navItem {
    color: black;
    padding: 1rem;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .navItem {
    color: #EE8355;
    padding: 1rem;
    display: flex;
  }
}
.sign-in-button {
  padding: 8px 40px;
  font-size: 1.2rem;
  border-radius: 8px;
  bottom: 10px;
  right: 15px;
  opacity: 0.8;
  background-color: #61E786;
  color: #004FFF;
  font-family: "Sofia Pro", "Roboto";
}
#donate-div {
  padding-top: 3rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width:800px)  and (min-width: 501px) {
  #donate-div {
    padding-top: 3rem;
  }
}
#donate-div-about {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.donate-div-icon {
  width: 10%;
  padding: 1rem;
}
@media (max-width: 500px)  and (min-width: 300px) {
  .donate-div-icon {
    display: none;
  }
}
.donate-button {
  background-color: #61E786;
  color: #004FFF;
  padding: 8px 40px;
  font-size: 1.2rem;
  border-radius: 8px;
  bottom: 10px;
  right: 15px;
  opacity: 0.8;
  font-family: "Sofia Pro", "Roboto";
}
h4,
h5 {
  text-align: center;
}
/* General Elements */
.section-header {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 1rem;
  color: black;
}
.footer-element {
  border: none;
  text-align: center;
  padding: 1rem;
  color: #EE8355;
}
/* Main Page */
.mission-elements {
  justify-content: space-around;
}
@media (max-width:800px)  and (min-width: 501px) {
  .mission-elements {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .mission-elements {
    display: none;
  }
}
.mission-elements1 {
  justify-content: space-around;
}
@media (max-width:800px)  and (min-width: 501px) {
  .mission-elements1 {
    display: none;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .mission-elements1 {
    text-align: center;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  .row {
    margin: auto !important;
    width: 92%;
  }
}
@media (max-width:800px)  and (min-width: 501px) and (max-width: 500px)  and (min-width: 300px) {
  .row {
    display: block !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
  }
}
.row .mission-elements-box {
  border: 1px ridge #EE8355;
  background: #61e786;
  max-width: 210px;
  min-width: 100px;
  min-height: 100%;
  padding: 1rem;
  border-radius: 8px;
  margin: 10px;
}
@media (max-width:800px)  and (min-width: 501px) {
  .row .mission-elements-box {
    margin: auto;
    padding: 0rem;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .row .mission-elements-box {
    width: 100%;
    text-align: center;
    max-width: 90%;
    margin: 5px auto;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .row .mission-elements-box img {
    width: 15%;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  .row .mission-elements-box img {
    width: 15%;
  }
}
@media (min-width:801px) {
  .row .mission-elements-box img {
    width: 25%;
  }
}
.mission-icon {
  text-align: center;
  max-width: 100%;
  height: auto;
  margin-left: 3rem;
  margin-right: 3rem;
}
@media (max-width:800px)  and (min-width: 501px) {
  .mission-icon {
    margin: auto;
    padding: 0rem;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .mission-icon {
    margin: auto;
    padding: 0rem;
  }
}
#mission-box-1 {
  margin-bottom: 1rem;
}
@media (max-width:800px)  and (min-width: 501px) {
  #mission-box-1 {
    display: none;
  }
}
@media (min-width:801px) {
  #mission-box-1 {
    display: none;
  }
}
#mission-box-2 {
  margin-bottom: 1rem;
}
@media (max-width:800px)  and (min-width: 501px) {
  #mission-box-2 {
    display: none;
  }
}
@media (min-width:801px) {
  #mission-box-2 {
    display: none;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #mission-box-3 {
    margin-bottom: 1rem;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  #mission-box-3 {
    display: none;
  }
}
@media (min-width:801px) {
  #mission-box-3 {
    display: none;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #mission-box-4 {
    margin-bottom: 1rem;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  #mission-box-4 {
    display: none;
  }
}
@media (min-width:801px) {
  #mission-box-4 {
    display: none;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  #hideMeOnDesktop {
    visibility: hidden;
  }
}
@media (min-width:801px) {
  #hideMeOnDesktop {
    visibility: hidden;
  }
}
.w3-bar-item .w3-button {
  display: none;
  margin: auto;
}
#mission-box-1tabdesk {
  margin-bottom: 1rem;
}
@media (max-width: 500px)  and (min-width: 300px) {
  #mission-box-1tabdesk {
    display: none;
  }
}
#mission-box-2tabdesk {
  margin-bottom: 1rem;
}
@media (max-width: 500px)  and (min-width: 300px) {
  #mission-box-2tabdesk {
    display: none;
  }
}
#mission-box-3tabdesk {
  margin-bottom: 1rem;
}
@media (max-width: 500px)  and (min-width: 300px) {
  #mission-box-3tabdesk {
    display: none;
  }
}
#mission-box-4tabdesk {
  margin-bottom: 1rem;
}
@media (max-width: 500px)  and (min-width: 300px) {
  #mission-box-4tabdesk {
    display: none;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .success-stories {
    display: none;
  }
}
.success-stories-box {
  border: 1px ridge #EE8355;
  background: #61E786;
  max-width: 100%;
  min-height: 100%;
  padding: 1rem;
  border-radius: 8px;
}
@media (max-width: 500px)  and (min-width: 300px) {
  .success-stories-box {
    width: 100%;
    text-align: center;
    margin: 5px auto;
  }
}
.press-elements-box {
  border: 1px solid #61E786;
  max-width: 100%;
  min-height: 100%;
  text-align: center;
  border-radius: 8px;
  background-color: #C0C0C0;
}
@media (max-width: 500px)  and (min-width: 300px) {
  .press-elements-box {
    width: 100%;
    text-align: center;
    margin: 5px auto;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #success-story-1 {
    display: none;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #success-story-2 {
    display: none;
  }
}
.hivesVid {
  height: auto;
}
.hivesVid video {
  width: 100%;
}
@media (max-width:800px)  and (min-width: 501px) {
  .hivesVid video {
    height: 340px;
  }
}
.carousel {
  position: relative;
  height: 400px;
  width: 800px;
  margin: auto;
  padding: 10px;
}
@media (max-width:800px)  and (min-width: 501px) {
  .carousel {
    max-width: 100%;
    padding: 0px;
    height: 350px;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #carousel {
    width: 100%;
    padding: 0px;
    line-height: 40px;
    height: 200px;
  }
}
.slides {
  height: 100%;
  width: 100%;
  position: relative;
}
@media (max-width:800px)  and (min-width: 501px) {
  .slides {
    width: 100%;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .slides {
    width: 100%;
    padding: 0px;
    height: auto;
  }
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 800px;
  font-size: 3em;
  color: white;
  line-height: 400px;
  text-align: center;
  opacity: 0;
  transition: opacity 1000ms;
}
@media (max-width: 500px)  and (min-width: 300px) {
  .slide {
    width: 100%;
    padding: 0px;
    height: 200px;
    line-height: 200px;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  .slideActual {
    width: 75%;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .slideActual {
    width: 100%;
  }
}
.slide:nth-child(1) {
  opacity: 1;
  width: 100%;
  height: auto;
}
@media (max-width:800px)  and (min-width: 501px) {
  .slide:nth-child(1) {
    width: 700px;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .slide:nth-child(1) {
    width: 100%;
  }
}
.slide:nth-child(2) {
  opacity: 1;
}
@media (max-width:800px)  and (min-width: 501px) {
  .slide:nth-child(2) {
    width: 700px;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .slide:nth-child(2) {
    width: 100%;
  }
}
.slide:nth-child(3) {
  opacity: 1;
}
@media (max-width:800px)  and (min-width: 501px) {
  .slide:nth-child(3) {
    width: 700px;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .slide:nth-child(3) {
    width: 100%;
  }
}
.slide[data-state="active"] {
  display: block;
}
.indicators {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.indicator {
  cursor: pointer;
}
.historyAndAboutOrg {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.history-about-box {
  border: 1px ridge #004FFF;
  background: #ee8355;
  max-width: 100%;
  min-height: 100%;
  padding: 1rem;
  border-radius: 8px;
  margin: 2rem;
}
@media (max-width: 500px)  and (min-width: 300px) {
  .history-about-box {
    margin: auto;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #history-of-org {
    padding-bottom: 3px;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #about-app {
    padding-bottom: 6px;
  }
}
.phonePic {
  text-align: center;
}
.phonePic .phonePicImg {
  max-width: 350px;
  max-height: 450px;
  border-radius: 9px;
}
@media (max-width: 500px)  and (min-width: 300px) {
  .phonePic .phonePicImg {
    display: none;
  }
}
.historyPic {
  text-align: center;
}
.historyPic .historyPicImg {
  max-width: 500px;
  max-height: 250px;
}
@media (max-width: 500px)  and (min-width: 300px) {
  .historyPic .historyPicImg {
    width: 100%;
  }
}
.staff-profile-box {
  background: #EE8355;
  max-width: 100%;
  min-height: 100%;
  padding: 2rem 2rem;
  border-radius: 8px;
  border: 1px ridge #004FFF;
}
.staff-profiles {
  padding: 1rem;
}
@media (max-width: 500px)  and (min-width: 300px) {
  .staff-profiles {
    padding-top: 0;
    padding-bottom: 3px;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  #staff-profile-1 {
    padding: 1rem;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #staff-profile-1 {
    padding: 6px;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  #staff-profile-2 {
    padding: 1rem;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #staff-profile-2 {
    padding: 6px;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #staff-profile-3 {
    padding-top: 0px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #staff-profile-4 {
    padding: 6px;
  }
}
.headshot {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.shout {
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}
.team-names {
  color: #004FFF;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2em;
}
.myButton {
  padding: 8px 40px;
  font-size: 1.2rem;
  border-radius: 8px;
  bottom: 10px;
  right: 15px;
  opacity: 0.8;
  background-color: #61E786;
  color: #004FFF;
  font-family: "Sofia Pro", "Roboto";
}
@media (max-width:800px)  and (min-width: 501px) {
  .photoCreds {
    display: flex;
    width: 95%;
    justify-content: center;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .photoCreds {
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  .team-names {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZYokSds18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkids18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDc.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZY4lCds18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZclSds18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 900;
  src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZklyds18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
.container1 {
  flex-direction: column;
  margin: auto;
  border: 4px solid pink;
}
.col-md-4 {
  margin: auto;
  padding: 0px;
}
.zanyBody {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  color: #323232;
  font-size: 15px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  border: 4px solid #fc4445;
}
.heading-title {
  margin-bottom: 90px;
  border: 4px solid pink;
  border-radius: 12px;
  background-color: #cafafe;
}
.text-center {
  text-align: center;
}
.heading-title h3 {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: normal;
}
.p-top-30 {
  padding-top: 30px;
}
.half-txt {
  width: 60%;
  margin: 0 auto;
  display: inline-block;
  line-height: 25px;
  color: #7e7e7e;
}
.text-uppercase {
  text-transform: uppercase;
}
.team-member,
.team-member .team-img {
  position: relative;
}
.team-member {
  overflow: hidden;
}
.team-member,
.team-member .team-img {
  position: relative;
}
.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  border: 20px solid #3feee6;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
  top: 35%;
}
.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
  opacity: 1;
}
.team-hover .desk {
  position: absolute;
  top: 0%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  padding: 0 20px;
}
.desk,
.desk h4,
.team-hover .s-link a {
  text-align: center;
  color: #222;
}
.team-member:hover .team-hover .s-link {
  bottom: 10%;
}
.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
  opacity: 1;
}
.team-hover .s-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-transform: translateY(45%);
  -ms-transform: translateY(45%);
  transform: translateY(45%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  font-size: 35px;
}
.desk,
.desk h4,
.team-hover .s-link a {
  text-align: center;
  color: #222;
}
.team-member .s-link a {
  margin: 0 10px;
  color: #333;
  font-size: 16px;
}
.team-title {
  position: static;
  padding: 20px 0;
  display: inline-block;
  letter-spacing: 2px;
  width: 100%;
}
.team-title h5 {
  margin-bottom: 0px;
  display: block;
  text-transform: uppercase;
}
.team-title span {
  font-size: 12px;
  text-transform: uppercase;
  color: #a5a5a5;
  letter-spacing: 1px;
}
.phoneGif {
  margin: auto;
  text-align: center;
  width: 100%;
}
.phoneGiffy {
  width: 85%;
}
@media (max-width:800px)  and (min-width: 501px) {
  .success-stories2 {
    visibility: visible;
    display: block;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #success-story-12 {
    visibility: visible;
    display: none;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  #success-story-12 {
    display: none;
  }
}
@media (min-width:801px) {
  #success-story-12 {
    display: none;
  }
}
@media (max-width: 500px)  and (min-width: 300px) {
  #success-story-22 {
    visibility: visible;
  }
}
@media (min-width:801px) {
  #success-story-22 {
    display: none;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  #success-story-22 {
    display: none;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  #hideMeOnDesktop2 {
    visibility: hidden;
  }
}
@media (min-width:801px) {
  #hideMeOnDesktop2 {
    visibility: hidden;
  }
}
@media (max-width:800px)  and (min-width: 501px) {
  .w3-container .success {
    display: none;
  }
}
